.dispatch_background_purpple-order-page {
  background-color: #7100ff;
  min-height: 656px;
}

@media screen and (max-width: 900px) {
  .dispatch_background_purpple-order-page {
    min-height: 536px;
  }
}
