.popup__donate-button-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #FCFAF7;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .popup__donate-button-text {
    font-size: 16px;
    line-height: 20px;
  }
}
