.tickets__price {
  margin: 0;
  display: block;
  width: 336px;
  font-size: 48px;
  line-height: 52px;
  font-weight: 500;
  color: #7100FF;
}

@media screen and (max-width: 580px) {
  .tickets__price {
    width: 180px;
    font-size: 32px;
    line-height: 36px;
  }
}
