.thank-you-order__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 420px;
}

@media screen and (max-width: 670px) {
  .thank-you-order__text {
    width: 100%;
  }
}
