.popup__container_type_buy-tickets {
  margin: calc(50vh - 360px) calc(50vw - 306px);
  max-width: 612px;
  box-shadow: 0px 4px 12px rgba(59, 55, 72, 0.12);
  border-radius: 24px;
  max-height: 720px;
  height: 100%;
  background-color: #FCFAF7;
  box-sizing: border-box;
  flex-direction: column;
}

@media (max-width: 768px) {
  .popup__container_type_buy-tickets {
    margin: calc(50vh - 342px) auto;
    max-width: 360px;
    max-height: 684px;
    border-radius: 24px 24px 0 0;
  }
}

@media (max-width: 320px) {
  .popup__container_type_buy-tickets {
    margin: 16px auto;
    max-height: 704px;
  }
}
