@import url(../blocks/thank-you-order/thank-you-order.css);
@import url(../blocks/thank-you-order/__button/thank-you-order__button.css);
@import url(../blocks/thank-you-order/__text/thank-you-order__text.css);
@import url(../blocks/thank-you-order/__heading/thank-you-order__heading.css);
@import url(../blocks/thank-you-order/__description/thank-you-order__description.css);
@import url(../blocks/thank-you-order/__footer-color/thank-you-order__footer-color.css);
@import url(../blocks/thank-you-order/__footer-wrapper-color/thank-you-order__footer-wrapper-color.css);
