.popup__buy-tickets-close-button {
  width: 24px;
  height: 24px;
  background-image: url('../../../images/close-icon.svg');
  background-color: transparent;
  border: none;
  background-size: contain;
  margin-top: 14px;
  padding: 0;
}

@media (max-width: 767px) {
  .popup__buy-tickets-close-button {
    margin-top: 21px;
    width: 22px;
    height: 22px;
  }
}

@media (max-width: 320px) {
  .popup__buy-tickets-close-button {
    width: 20px;
    height: 20px;
  }
}
