.dispatch__image-wrapper_order {
  max-width: 386px;
  max-height: 301px;
}


@media screen and (max-width: 901px) {
  .dispatch__image-wrapper_order {
    max-width: 316px;
    margin-top: 38px;
  }
}
