.tickets__minus {
  display: block;
  background-color: #7100FF;
  background-image: url(../../../images/icon-minus.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 22px 0px 0px 22px;
  border: none;
  width: 48px;
  height: 48px;
  padding: 0;
  cursor: pointer;
}

@media screen and (max-width: 580px) {
  .tickets__minus {
    width: 44px;
    height: 44px;
    background-image: url(../../../images/icon-minus-mobile.svg);
  }
}
