.popup__donate-button {
  margin: 20px auto;
  max-width: 320px;
  width: 100%;
  border: none;
  background-color: #7100FF;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 0;
  border-radius: 22px;
  box-sizing: border-box;
  box-shadow: 0px -8px 32px rgba(59, 55, 72, 0.12);
}


@media screen and (min-width: 768.98px) {
  .popup__donate-button {
    margin-top: 32px;
    margin-bottom: 40px;
    max-width: 532px;
  }
}

@media (max-width: 767px) {
  .popup__donate-button {
    margin: 20px auto 20px auto;
    font-size: 16px;
    line-height: 20px;
   }
}
