.popup__form-radio {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.popup__form-radio:checked + .popup__pseudo-item {
  background-image: url(../../../images/checked.svg);
}

.popup__form-radio:checked + .popup__pseudo-item_payment {
  background-image: url(../../../images/radio-checked.svg);
  width: 18.33px;
  height: 18.33px;
  background-size: cover;
}

@media screen and (min-width: 768.98px) {
  .popup__form-radio:checked + .popup__pseudo-item_payment {
    width: 22px;
    height: 22px;
  }
}
